h1 {
  color: blue;
}

#video-game-area {
      /* display: block;
      margin-left: auto;
      margin-right: auto; */
       width: 100%;
       height: auto;
       position: absolute;
       top: 20%;
       left: 25%;
       /* transform: translate(-50%, -50%); */
}

#cupid {
  width: 60px;
  height: 60px;
  position: relative;
  left: 80px;
  top: 450px;
  /* background-color: red; */
}
